body {
    background:url(/images/background.jpg);//图片路径
    background-repeat: no-repeat;//是否重复平铺
    background-attachment: fixed;//是否随着网页上下滚动而滚动，fixed为固定
    background-position: 50% 50%;//图片位置
    background-size: cover;//图片展示大小
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    opacity: 0.9;
    footer > div > div {
        color:#000000;//底部文字颜色
    }
}
